<mat-card>
    <mat-card-header>
        <mat-card-title>Lista kategorii</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef>Akcja </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button matTooltip="Click to Edit" (click)="onEditRowClicked(row)"
                            class="iconbutton" color="primary">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Click to Delete" (click)="onDeleteRowClicked(row)"
                            class="iconbutton" color="warn">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </table>
        </cdk-virtual-scroll-viewport>

        <hr>
        <h3>Edycja danych</h3>
        <div class="cat-form">
            <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()" #formDirective="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Nazwa kategorii</mat-label>
                    <input matInput placeholder="Nazwa kategorii" formControlName="name">
                </mat-form-field>

                <button type="submit" mat-raised-button color="primary"
                    [disabled]="!updateCategoryForm.valid">Zapisz</button>
            </form>
            <a *ngIf="errorMessage" class="alert-danger"> {{errorMessage}} </a>
        </div>
    </mat-card-content>

</mat-card>