<mat-card class="example-card">
    <mat-card-content>
        <h2>Dodaj kategorie</h2>
        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" #formDirective="ngForm" >
            <mat-form-field appearance="outline">
                <mat-label>Nazwa kategorii</mat-label>
                <input matInput placeholder="Nazwa kategorii" formControlName="categoryName">
                <mat-error *ngIf="nameError">
                    {{nameError}}
                  </mat-error>
            </mat-form-field>
           
            <button type="submit" mat-raised-button color="primary"
                [disabled]="!categoryForm.valid ">ZAPISZ</button>
        </form>
          <a *ngIf="infoMessage" class="alert"> {{infoMessage}} </a>
    </mat-card-content>
  </mat-card>
