<mat-card class="example-card">
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile>
                <div class="container">
                    <section class="header">
                        <h2>Zmiana danych</h2>
                    </section>
                    <section class="body">
                        <form [formGroup]="updateForm" (ngSubmit)="updateUser()" #formDirective="ngForm">
                            <mat-form-field appearance="outline">
                                <mat-label>Login</mat-label>
                                <input matInput placeholder="Login" formControlName="username">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Numer telefonu</mat-label>
                                <input matInput placeholder="Numer telefonu" formControlName="phoneNumber">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Obecne hasło</mat-label>
                                <input matInput placeholder="Obecne hasło" formControlName="password" type="password">
                            </mat-form-field>
                            
                            <button type="submit" mat-raised-button color="primary"
                                [disabled]="!updateForm.valid ">Zapisz</button>
                        </form>
                        <a *ngIf="errorMessage" class="alert-danger"> {{errorMessage}} </a>
                    </section>
                </div>
                
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="container">
                    <section class="header">
                        <h2>Zmiana hasła</h2>
                    </section>
                    <section class="body">
                        <form [formGroup]="updatePassForm" (ngSubmit)="updatePasswordUser()" #formDirective="ngForm">
                            <mat-form-field appearance="outline">
                                <mat-label>Obecne hasło</mat-label>
                                <input matInput placeholder="Obecne hasło" formControlName="pass" type="password">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Nowe hasło</mat-label>
                                <input matInput placeholder="Obecne hasło" formControlName="pass2" type="password">
                            </mat-form-field>
                            <button type="submit" mat-raised-button color="primary"
                                [disabled]="!updatePassForm.valid ">Zapisz</button>
                        </form>
                    </section>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>