  <mat-card class="example-card">
    <mat-card-content>
        <h2>Logowanie</h2>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label>Login</mat-label>
              <input matInput formControlName="username"  placeholder="Login" type="text" >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Hasło</mat-label>
              <input matInput placeholder="Hasło" formControlName="password" type="password">
          </mat-form-field>
          
            <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary">ZALOGUJ</button>
          </form>
          <a *ngIf="errorMessage" class="alert-danger"> Błędne dane </a>
    </mat-card-content>
    <a class="register" [routerLink]="'/register'">Brak konta? Zarejestruj się </a>
  </mat-card>