  <mat-card class="example-card">
    <mat-card-content>
        <h2>Logowanie</h2>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
              <mat-label>Login</mat-label>
              <input matInput formControlName="username" [(ngModel)]="loginData.username" name="username" placeholder="Login" type="text" >
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Hasło</mat-label>
              <input  matInput formControlName="password" [(ngModel)]="loginData.password" name="password" placeholder="Hasło" type="password">
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary">ZALOGUJ</button>
          </form>
          <a *ngIf="errorMessage" class="alert-danger"> Błędne dane </a>
    </mat-card-content>
  </mat-card>