<mat-card>
    <mat-card-header>
        <mat-card-title>Lista produktów</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form [formGroup]="searchForm" (ngSubmit)="searchProduct()" #formDirective="ngForm">
            <div class="content">
            <div class="searchForm">
                <mat-form-field appearance="standard">
                    <mat-label>Szukaj produktów</mat-label>
                    <input matInput type="search" placeholder="Szukaj produktów" formControlName="name">

                </mat-form-field>
                <button type="submit" style="margin-left: 10px;" mat-raised-button color="primary"
                    [disabled]="!searchForm.valid ">Szukaj</button>
            </div>
            </div>
        </form>

        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="productName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa produktu </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="netPrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cena netto </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.netPrice}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="grossPrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cena brutto </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.grossPrice}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Opis produktu </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </table>
        </cdk-virtual-scroll-viewport>

    </mat-card-content>

</mat-card>